:host ::ng-deep {
    .p-datepicker table td {
        //adjust the padding
        padding: 0;
    }

    // .discountClass{
    //     background-color: grey;
    // }

    // .p-datepicker table td>span {
    //     //adjust the width and height
    //     height: 30px;
    //     width: 20px;
    // }

    .p-calendar,
    .p-dropdown,
    .p-inputnumber,
    .p-selectButton {
        width: 100%;
    }

    .my-padding-top {
        padding-top: 16px;
    }
}