<div class="container-xxl d-flex justify-content-center">
    <div class="col-6 ">
        <div class="wrapper">
            <div class="col">
                <div class="row">
                    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                        <!-- row 1 -->
                        <div class="row">

                            <div class="col">
                                <label for="userName" class="w-100">Tên đăng nhập</label>
                                <input class="w-100 p-inputtext-sm" type="text" pInputText formControlName="userName">
                            </div>

                            <div class="col">
                                <label for="displayName" class="w-100">Tên hiển thị của bạn</label>
                                <input class="w-100 p-inputtext-sm" type="text" pInputText
                                    formControlName="displayName">
                            </div>
                        </div>

                        <!-- row 2 -->
                        <div class="row">
                            <div class="col">
                                <label for="pw1" class="w-100">Mật khẩu</label>
                                <span class="p-input-icon-right w-100">
                                    <i [class]="isShowPw ? 'pi pi-eye-slash' : 'pi pi-eye'"
                                        (click)="changeIsShowPw()"></i>
                                    <input class="w-100 p-inputtext-sm" [type]="isShowPw ? 'text':'password'" pInputText
                                        formControlName="pw1">
                                </span>
                            </div>

                            <div class="col">
                                <label for="pw2" class="w-100">Xác nhận mật khẩu</label>
                                <span class="p-input-icon-right w-100">
                                    <i [class]="isShowPw ? 'pi pi-eye-slash' : 'pi pi-eye'"
                                        (click)="changeIsShowPw()"></i>
                                    <input class="w-100 p-inputtext-sm" [type]="isShowPw ? 'text':'password'" pInputText
                                        formControlName="pw2">
                                </span>
                            </div>
                        </div>

                        <!-- row 3 -->
                        <div class="row">
                            <div class="col">
                                <label for="area" class="w-100">Khu vực</label>
                                <p-dropdown class="w-100 p-inputtext-sm" [options]="addressAreaName"
                                    formControlName="area" optionLabel="label" optionValue="value"
                                    (onChange)="getAddressZoneName()" emptyMessage="Không có dữ liệu"
                                    [autoDisplayFirst]="false" appendTo="body">
                                </p-dropdown>
                            </div>

                            <div class="col">
                                <label for="zone" class="w-100">Số tầng/Dãy phòng</label>
                                <p-dropdown id="zone" class="w-100 p-inputtext-sm" [options]="addressZoneName"
                                    appendTo="body" [disabled]="!checkoutForm.value.area" formControlName="zone"
                                    optionLabel="label" optionValue="value" emptyMessage="Không có dữ liệu"
                                    [autoDisplayFirst]="false">
                                </p-dropdown>
                            </div>
                        </div>

                        <!-- row 4 -->
                        <div class="row">
                            <div class="col">
                                <label for="room" class="w-100">Số phòng</label>
                                <input class="w-100 p-inputtext-sm" type="text" pInputText formControlName="room" />
                            </div>

                            <div class="col">
                                <label for="phoneNumber">Số điện thoại</label>
                                <input (keypress)="checkNumber($event)" class="w-100 p-inputtext-sm" id="phoneNumber"
                                    type="text" pInputText formControlName="phoneNumber" [maxlength]="13">
                            </div>
                        </div>

                        <!-- last row -->
                        <div class="row">
                            <div class="col text-center">
                                <button pButton type="submit" [disabled]="checkoutForm.invalid" label="Đăng ký"
                                    class="p-button-success p-button-sm mr-2"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>