<div class="row text-center">
    <h5>Đơn hàng của bạn</h5>
</div>

<div class="wrapper">
    <div class="row">
        <p-table styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
            [value]="cartService.getItemsList()" [columns]="columnsName">

            <!-- header -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <th [ngClass]="col.headerClass">
                            {{col.header}}
                        </th>
                    </ng-container>
                </tr>
            </ng-template>

            <!-- body -->
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <td [ngClass]="col.class" *ngIf="col.field == 'name'">
                            {{ rowData.name }}
                        </td>

                        <td [ngClass]="col.class" *ngIf="col.field == 'price'">
                            {{ rowData.price | vnd}}
                        </td>

                        <td [ngClass]="col.class" *ngIf="col.field == 'qty'">
                            <button (click)="minusCheck(rowData)" pButton type="button" icon="pi pi-minus"
                                class="p-button-sm p-button-rounded my-qty-tbn"></button>
                            {{rowData.qty}}
                            <button (click)="plusCheck(rowData)" pButton type="button" icon="pi pi-plus"
                                class="p-button-sm p-button-rounded my-qty-tbn"></button>
                        </td>
                    </ng-container>
                </tr>
            </ng-template>

            <!-- footer -->
            <ng-template pTemplate="footer">
                <tr *ngIf="getTotalMoney()">
                    <td>Thành tiền:</td>
                    <td>{{getTotalMoney() | vnd}}</td>
                    <td class="text-center">{{getTotalQty()}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="row">
        <div class="col text-center">
            <button *ngIf="getTotalQty() && controlName" (click)="buyAgain()" pButton type="button" label="Mua tiếp"
                class="w-25 p-button-success p-button-sm mr-2"></button>

            <button *ngIf="getTotalQty() && !controlName" (click)="checkOut()" pButton type="button" label="Thanh toán"
                class="w-25 p-button-success p-button-sm mr-2"></button>

            <button *ngIf="getTotalQty()" (click)="clearItem()" pButton type="button" label="Đặt lại"
                class="w-25 p-button-danger p-button-sm"></button>
        </div>
    </div>
</div>