<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row text-center">
                <h5>Thông tin đơn hàng</h5>
            </div>

            <div class="wrapper">
                <div class="row">
                    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col">
                                <label for="userDisplayName">Tên người nhận</label>
                                <input class="w-100 p-inputtext-sm" id="userDisplayName" type="text" pInputText
                                    formControlName="userDisplayName">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="phoneNumber">Số điện thoại người nhận</label>
                                <input (keypress)="checkNumber($event)" class="w-100 p-inputtext-sm" id="phoneNumber" type="text"
                                    pInputText formControlName="phoneNumber" [maxlength]="13">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="address">Địa chỉ nhận hàng</label>
                                <input class="w-100 p-inputtext-sm" id="address" type="text" pInputText formControlName="address">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="note">Ghi chú (nếu có)</label>
                                <textarea class="w-100" formControlName="note" [rows]="2" pInputTextarea
                                    [autoResize]="false"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="payType">Phương thức thanh toán</label>
                                <p-dropdown class="w-100" [options]="paymentList" formControlName="payType"
                                    optionLabel="label" optionValue="value" [required]="true"
                                    placeholder="Chọn loại sản phẩm">
                                    <ng-template pTemplate="empty">
                                        Không có dữ liệu
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button class="p-button-sm" pButton type="submit" [disabled]="checkoutForm.invalid"
                                    label="Xác nhận thanh toán"></button>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-6">
            <app-menu-cart [controlName]="CHECKOUT"></app-menu-cart>
        </div>
    </div>
</div>

<app-custom-confirm-dialog *ngIf="showConfirm" (result)="resulthandle($event)"
    [message]="'Bạn có xác nhận đặt đơn hàng này không?'"></app-custom-confirm-dialog>