<div class="container">
    <div class="row">
        <div class="col-3">
            <app-menu-dashboard></app-menu-dashboard>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <h5>Quản lý đơn hàng</h5>
                </div>
            </div>

            <div class="row">
                <p-table [value]="ordersList" dataKey="orderCode" styleClass="p-datatable-sm" [resizableColumns]="true"
                    scrollHeight="200px">

                    <ng-template pTemplate="caption">
                        Đơn khách đã đặt
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th>STT</th>
                            <th>Chi tiết</th>
                            <th *ngFor="let col of columnsOrder">
                                {{col.header}}

                                <!-- <div *ngIf="col.field != 'orderStatus'">
                                    {{col.header}}
                                </div>

                                <div pSortableColumn="orderStatus" *ngIf="col.field == 'orderStatus'">
                                    {{col.header}}
                                    <p-sortIcon field="orderStatus"></p-sortIcon>
                                </div> -->
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded">
                        <tr>
                            <td>
                                <div>{{ rowIndex + 1 }}</div>
                            </td>
                            
                            <td>
                                <button type="button" pButton pRipple [pRowToggler]="rowData"
                                    class="p-button-text p-button-rounded p-button-plain p-button-sm"
                                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </td>

                            <td *ngFor="let col of columnsOrder">
                                <div *ngIf="col.field != 'myCustom'">
                                    {{rowData[col.field]}}
                                </div>

                                <div *ngIf="col.field == 'myCustom'">
                                    <button type="button" pButton label="Đang chuẩn bị" class="p-button-sm p-button-success"
                                    (click)="changeStatusOrder(rowData, ORDER)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                    <!-- phần setting mở rộng row -->
                    <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
                        <tr>
                            <td colspan="5">
                                <div>
                                    <p-table [value]="rowData.details" dataKey="id" styleClass="p-datatable-sm">
                                        <ng-template pTemplate="body" let-detail>
                                            <tr>
                                                <td>Sản phẩm:</td>
                                                <td style="font-weight: 800;">{{detail.product.productName}}</td>
                                                <td>Số lượng:</td>
                                                <td style="font-weight: 800;">{{detail.qty}}</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="row">
                <p-table [value]="ordersListWait" styleClass="p-datatable-sm" [resizableColumns]="true"
                scrollHeight="200px">
                    <ng-template pTemplate="caption">
                        Đơn đang chuẩn bị
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>STT</th>
                            <th *ngFor="let col of columnsOrderWait">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData">
                            <td>
                                <div>{{ rowIndex + 1 }}</div>
                            </td>
                            <td *ngFor="let col of columnsOrderWait">
                                <div *ngIf="col.field != 'myCustom'">
                                    {{rowData[col.field]}}
                                </div>

                                <div *ngIf="col.field == 'myCustom'">
                                    <button type="button" pButton label="Hủy chuẩn bị" class="p-button-sm p-button-danger"
                                    (click)="changeStatusOrder(rowData, PREPARING)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>