:host ::ng-deep {
    .wrapper {
        border: 1px solid #ebebeb;
        padding: 0.5rem;
        background: #fff;
        border-radius: 5px;
    }

    .p-tieredmenu {
        border-radius: 5px;
    }
}