<div class="container-xxl">
    <div class="row">
        <div class="col-3">
            <app-menu-dashboard></app-menu-dashboard>
        </div>
        <div class="col-9">
            <div class="wrapper">
                <div class="col">



                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <h5>Đơn hàng đang vận chuyển theo lô</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <p-dropdown [options]="lotsList" [showClear]="true" [(ngModel)]="selectedLot"
                                optionLabel="lotCode" optionValue="details" [filter]="true"
                                placeholder="Chọn Lô cần xử lý" (onChange)="selectOrderLot()" class="p-inputtext-sm"
                                emptyMessage="Không có dữ liệu">
                            </p-dropdown>
                        </div>
                        <div class="col-6">
                            <button type="button" pButton label="Đã giao" class="p-button-sm p-button-success"
                                (click)="completeDeliveryLot()"></button>
                        </div>
                    </div>

                    <div class="row">
                        <p-table [columns]="columnsName" dataKey="orderCode" [value]="ordersList"
                            styleClass="p-datatable-sm p-datatable-striped" [resizableColumns]="true"
                            scrollHeight="430px">
                            <!-- header -->
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <ng-container *ngFor="let col of columns">
                                        <th [ngClass]="col.headerClass">
                                            {{col.header}}
                                        </th>
                                    </ng-container>
                                </tr>
                            </ng-template>

                            <!-- body -->
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex"
                                let-expanded="expanded">
                                <tr>
                                    <ng-container *ngFor="let col of columns">
                                        <td [ngClass]="col.class" *ngIf="col.field == 'index'">
                                            {{ rowIndex + 1 }}
                                        </td>

                                        <td [ngClass]="col.class" *ngIf="col.field == 'showDetails'">
                                            <button type="button" pButton pRipple [pRowToggler]="rowData"
                                                class="p-button-text p-button-rounded p-button-plain p-button-sm"
                                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                        </td>

                                        <td [ngClass]="col.class"
                                            *ngIf="col.field != 'index' && col.field != 'showDetails'  && col.field != 'totalAmount' && col.field != 'button'">
                                            {{rowData[col.field]}}
                                        </td>

                                        <td [ngClass]="col.class" *ngIf="col.field == 'totalAmount'">
                                            <ng-container *ngIf="rowData.paid ==  true">
                                                {{'Đã thanh toán'}}
                                            </ng-container>
                                            <ng-container *ngIf="rowData.paid == false">
                                                {{rowData[col.field] | vnd}}
                                            </ng-container>
                                        </td>

                                        <td [ngClass]="col.class" *ngIf="col.field == 'button'">
                                            <button type="button" pButton label="Đã giao"
                                                class="p-button-sm p-button-success"></button>
                                        </td>
                                    </ng-container>
                                </tr>
                            </ng-template>

                            <!-- phần setting mở rộng row -->
                            <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
                                <tr>
                                    <td></td>
                                    <td colspan="5">
                                        <div>
                                            <p-table [value]="rowData.details" dataKey="id"
                                                styleClass="p-datatable-striped p-datatable-sm">
                                                <ng-template pTemplate="body" let-detail>
                                <tr>
                                    <td class="text-center">Sản phẩm:</td>
                                    <td class="my-bold">{{detail.product.productName}}</td>
                                    <td class="text-center">Số lượng:</td>
                                    <td class="my-bold">{{detail.qty}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    </td>
                    </tr>
                    </ng-template>
                    <!-- phần setting mở rộng row -->
                    </p-table>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>