:host ::ng-deep {

    .p-dataview-header {
        position: sticky;
        top: 57px;
        z-index: 1;
    }

    .my-sticky {
        position: sticky;
        top: 66px;
        z-index: 1;
    }

    .product-category-icon {
        vertical-align: middle;
        margin-right: 0.5rem;
    }

    .product-category {
        vertical-align: middle;
        font-weight: 600;
    }

    .product-old-price {
        font-size: 0.8rem;
        text-decoration: line-through;
    }

    // setting cho list 
    .product-list-item {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        width: 100%;

        .p-button {
            max-width: 110px;
            min-width: 110px;
            align-self: flex-end;
        }

        img {
            width: 80px;
            height: 80px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }

        .product-list-detail {
            flex: 1 1 0;
        }

        .product-name {
            font-size: 1.2rem;
            font-weight: 600;
        }

        .product-price {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: .5rem;
            align-self: flex-end;
        }

        .product-old-price {
            align-self: flex-end;
        }

        .product-list-action {
            display: flex;
            flex-direction: column;
        }

        .p-button {
            margin-bottom: .5rem;
        }
    }

    // setting cho grid
    .product-grid-item {
        margin: 1rem;
        border: 1px solid #dee2e6;

        .product-grid-item-top,
        .product-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .product-grid-item-bottom {
            min-height: 3rem;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin: 0.5rem 0;
        }

        .product-grid-item-content {
            text-align: center;
        }

        .product-name,
        .product-price {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .card {
        // margin: 1rem 1rem;
        padding: 1rem;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        // margin-bottom: 0rem;
    }
}

@media screen and (max-width: 576px) {
    :host ::ng-deep .product-list-item {
        flex-direction: column;
        align-items: center;

        img {
            width: 50%;
            margin: 1rem 0;
        }

        .product-list-detail {
            text-align: center;
        }

        .product-price {
            font-weight: 600;
            align-self: center;
        }

        .product-list-action {
            display: flex;
            flex-direction: column;
        }

        .product-list-action {
            margin-top: 2rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
}