<div class="container-xxl">
    <div class="row">
        <div class="col-3">
            <app-menu-dashboard></app-menu-dashboard>
        </div>
        <div class="col-9">
            <div class="wrapper">
                <div class="col">
                    <div class="row">
                        <h5>Trang tổng quan</h5>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <app-chart-view-order *ngIf="isGetAllData" [orderListWeek]="orderListWeek"
                                [orderListLastWeek]="orderListLastWeek"></app-chart-view-order>
                        </div>
                        <div class="col-6">
                            <app-chart-view-sales *ngIf="isGetAllData" [orderListWeek]="orderListWeek"
                                [orderListLastWeek]="orderListLastWeek"></app-chart-view-sales>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <app-chart-summary-today *ngIf="isGetAllData" [orderLisToday]="orderLisToday">
                            </app-chart-summary-today>
                        </div>
                        <div class="col-6">
                            <app-chart-view-product *ngIf="isGetAllData" [orderListWeek]="orderListWeek">
                            </app-chart-view-product>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>