<div class="container">
    <div class="row">
        <div class="col-3">
            <app-menu-dashboard></app-menu-dashboard>
        </div>
        <div class="col-9">
            <div class="row">
                <h5>Trang tổng quan</h5>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-chart-view-order></app-chart-view-order>
                </div>
                <div class="col-6">
                    <app-chart-view-sales></app-chart-view-sales>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-chart-view-sales></app-chart-view-sales>
                </div>
                <div class="col-6">
                    <app-chart-view-order></app-chart-view-order>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-chart-view-product></app-chart-view-product>
                </div>
            </div>
        </div>
    </div>
</div>