<div class="container">
    <div class="wrapper">
        <p-accordion>

            <p-accordionTab header="Giới thiệu Căn tin" [selected]="true">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <p>
                            Căn tin có tổng diện tích 920 mét vuông, được bố trí tại khu ký túc xá sinh viên của Phân
                            hiệu
                            trường ĐH
                            GTVT tại TP. Hồ Chí Minh.
                        </p>

                        <div class="text-center">
                            <p-image src="https://utc2.edu.vn/upload/congtrinh/165c73da2af0deae87e1-16256439308.jpg"
                                alt="Giới thiệu Căn tin" width="600"></p-image>
                            <p>Cổng vào khu ký túc xá</p>
                        </div>

                        <div class="text-center pb-3">
                            <p-image src="https://utc2.edu.vn/uploads/img/images/c%C4%83n%20tin%20ktx.jpg"
                                alt="Giới thiệu Căn tin" width="600"></p-image>
                            <p>Hình ảnh khu căn tin trong ký túc xá</p>
                        </div>
                    </div>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Phục vụ">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <p>
                            Phục vụ ăn sáng, trưa và nước uống cho toàn bộ sinh viên, giảng viên cũng như cán bộ
                            viên chức nhà trường trong thời gian nghỉ ngơi thư giãn.
                        </p>

                        <div class="text-center pb-3">
                            <p-image
                                src="https://utc2.edu.vn/uploads/img/images/Nh%E1%BB%AFng%20su%E1%BA%A5t%20%C4%83n%20h%E1%BB%97%20tr%E1%BB%A3%20sinh%20vi%C3%AAn%20m%C3%B9a%20d%E1%BB%8Bch/H6.jpg"
                                alt="Giới thiệu Căn tin" width="600"></p-image>
                            <p>Phục vụ nhiều loại sản phẩm khác nhau</p>
                        </div>

                        <p>
                            Với giá cả phần ăn phù hợp nhưng vẫn đảm bảo chất lượng, rẻ hơn bên ngoài và không quá
                            25.000
                            đồng/suất.
                        </p>
                        <p>
                            Căn tin cho phép
                            sinh viên được lựa chọn khẩu phần ăn phù hợp với nhu cầu cá nhân mà không phải trả thêm
                            tiền, ngoài ra bổ sung thêm rau xanh trong khẩu phần ăn.
                        </p>

                        <p>
                            Ngoài ra tại đây còn bán các loại nước giải khát như trà sữa, cà phê và các loại bánh ngọt,
                            ... và
                            nhiều đồ ăn vặt khác với mục tiêu là phục vụ nhu cầu của tất cả các bạn sinh viên đang ở
                            trong khu
                            ký túc xá.
                        </p>
                        <div class="text-center pb-3">
                            <p-image
                                src="https://images.foody.vn/BlogsContents/33385732_1655493851186211_7096764068807049216_n.jpg"
                                alt="Giới thiệu Căn tin" width="600"></p-image>
                            <p>Phục vụ nhiều loại sản phẩm khác nhau</p>
                        </div>
                    </div>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Thông tin liên hệ">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <ul>
                            <li>Địa chỉ: 451 Lê Văn Việt, Quận 9, Thành phố Hồ Chí Minh</li>
                            <li>Chủ sở hữu/Chủ thầu: Ông Nguyễn Văn A</li>
                            <li>Giấy phép kinh doanh: 03118280xxx</li>
                            <li>Số điện thoại liên hệ: 09xxxxxxxx</li>
                            <li>Email: can-tin-ktx-utc2@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>