<div class="container-xxl d-flex align-items-center justify-content-center">
    <div class="col-4 ">
        <div class="wrapper">
            <div class="col">
                <div class="row ">
                    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                        <!-- row 1 -->
                        <div class="row">
                            <div class="col">
                                <label for="userName">Tên đăng nhập</label>
                                <input class="w-100 p-inputtext-sm" type="text" pInputText formControlName="userName" />
                            </div>
                        </div>

                        <!-- row 2 -->
                        <div class="row">
                            <div class="col">
                                <label for="password">Mật khẩu</label>
                                <span class="p-input-icon-right w-100">
                                    <i [class]="isShowPw ? 'pi pi-eye-slash' : 'pi pi-eye'"
                                        (click)="changeIsShowPw()"></i>
                                    <input class="w-100 p-inputtext-sm" [type]="isShowPw ? 'text':'password'" pInputText
                                        formControlName="password">
                                </span>
                            </div>
                        </div>

                        <!-- row 3 -->
                        <div class="row">
                            <div class="col text-center">
                                <button pButton type="submit" [disabled]="checkoutForm.invalid" label="Đăng nhập"
                                    class="p-button-sm mr-2"></button>
                                <button pButton type="button" (click)="signIn()" label="Đăng ký"
                                    class="p-button-success p-button-sm"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>