<div class="container d-flex align-items-center justify-content-center">
    <div class="col-4 ">
        <div class="wrapper">
            <div class="col">
                <div class="row ">
                    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                        <!-- row 1 -->
                        <div class="row">
                            <div class="col">
                                <label for="productCode">Tên đăng nhập hoặc Email</label>
                                <input class="w-100" type="text" pInputText formControlName="username" />
                            </div>
                        </div>

                        <!-- row 2 -->
                        <div class="row">
                            <div class="col">
                                <label for="productCode">Mật khẩu</label>
                                <input class="w-100" type="password" pInputText formControlName="password" />
                            </div>
                        </div>

                        <!-- row 3 -->
                        <div class="row">
                            <div class="col">
                                <button pButton type="submit" [disabled]="checkoutForm.invalid"
                                    label="Đăng nhập"></button>
                            </div>

                            <div class="col">
                                <button pButton type="submit" label="Đăng ký"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>