:host ::ng-deep {

    .p-dropdown,
    .p-inputnumber,
    .p-selectButton {
        width: 100%;
    }

    .my-padding-top {
        padding-top: 16px;
    }

    .required {
        color: red;
        font-weight: 700;
    }
}