<div class="container-xxl">
    <div class="row">
        <div class="col-3" *ngIf="!isDialog">
            <app-menu-dashboard></app-menu-dashboard>
        </div>

        <div [ngClass]="{'col-9': !isDialog, 'col-12': isDialog}">
            <div [ngClass]="{'wrapper': !isDialog, '': isDialog}">
                <div class="col">
                    <h5 *ngIf="!isDialog">Thông tin của sản phẩm</h5>

                    <div class="row">
                        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                            <!-- row 1 -->
                            <div class="row">
                                <div class="col">
                                    <label for="productCode">Mã sản phẩm</label>
                                    <input class="w-100 p-inputtext-sm" id="productCode" type="text" pInputText
                                        formControlName="productCode">
                                </div>

                                <div class="col">
                                    <label for="productName">Tên sản phẩm <span class="required">*</span></label>
                                    <input class="w-100 p-inputtext-sm" id="productName" type="text" pInputText
                                        formControlName="productName">
                                </div>
                            </div>

                            <!-- row 2 -->
                            <div class="row">
                                <div class="col">
                                    <label for="price">Giá bán <span class="required">*</span></label>
                                    <p-inputNumber class="w-100 p-inputtext-sm" formControlName="price" mode="currency"
                                        currency="VND" [min]="0">
                                    </p-inputNumber>
                                </div>

                                <div class="col">
                                    <label for="isDiscount">Có muốn áp dụng giảm giá không? <span
                                            class="required">*</span></label>
                                    <p-selectButton class="w-100 p-inputtext-sm" [options]="isDiscountList"
                                        formControlName="discount" optionLabel="label" optionValue="value">
                                    </p-selectButton>
                                </div>
                            </div>

                            <div *ngIf="checkoutForm.get('discount')?.value" class="discountClass">
                                <!-- row 3 -->
                                <div class="row">
                                    <div class="col">
                                        <label for="isDiscount">Loại hình giảm giá? <span
                                                class="required">*</span></label>
                                        <p-selectButton class="w-100 p-inputtext-sm" [options]="isDiscountTypeList"
                                            formControlName="discountType" optionLabel="label" optionValue="value">
                                        </p-selectButton>

                                    </div>

                                    <div class="col" *ngIf="checkoutForm.get('discountType')?.value == PERCENT">
                                        <label for="discountPercent">Giảm theo % <span class="required">*</span></label>
                                        <p-inputNumber class="w-100 p-inputtext-sm" formControlName="discountPercent"
                                            mode="decimal" [showButtons]="true" [step]="0.25" [min]="0" [max]="100"
                                            [minFractionDigits]="2" suffix="%"></p-inputNumber>
                                    </div>

                                    <div class="col" *ngIf="checkoutForm.get('discountType')?.value == NUMBER">
                                        <label for="discountNumber">Giảm theo giá gốc <span
                                                class="required">*</span></label>
                                        <p-inputNumber class="w-100 p-inputtext-sm" formControlName="discountNumber"
                                            mode="currency" currency="VND" [min]="0">
                                        </p-inputNumber>
                                    </div>
                                </div>
                            </div>

                            <!-- row 4 -->
                            <div class="row">
                                <div class="col">
                                    <div class="w-100">
                                        <label for="urlAvatar">Link của hình ảnh</label>
                                        <input class="w-100 p-inputtext-sm" type="text" (change)="setUrlAvatar($event)"
                                            pInputText formControlName="urlAvatar">
                                    </div>

                                    <div class="w-100 my-padding-top">
                                        <label for="category">Nhóm sản phẩm <span class="required">*</span></label>
                                        <p-dropdown class="w-100 p-inputtext-sm" [options]="categoryList"
                                            formControlName="category" optionLabel="label" optionValue="value"
                                            [filter]="true" [editable]="true" placeholder="Chọn nhóm sản phẩm"
                                            emptyMessage="Không có dữ liệu">
                                        </p-dropdown>
                                    </div>

                                    <div class="w-100 my-padding-top">
                                        <label for="type">Phân loại sản phẩm <span class="required">*</span></label>
                                        <p-dropdown class="w-100 p-inputtext-sm" [options]="typeList"
                                            formControlName="type" optionLabel="label" optionValue="value"
                                            placeholder="Chọn loại sản phẩm" emptyMessage="Không có dữ liệu">
                                        </p-dropdown>
                                    </div>
                                </div>

                                <div class="col">
                                    <label class="w-100" for="img">Ảnh xem trước của sản phẩm</label>
                                    <p-image [src]="urlAvatarDisplay" alt="Image" width="200" [preview]="true">
                                    </p-image>
                                </div>
                            </div>

                            <!-- row 5 -->
                            <div class="row">
                                <div class="col">
                                    <label for="description">Mô tả sản phẩm</label>
                                    <textarea class="w-100 p-inputtext-sm" formControlName="description" [rows]="2"
                                        pInputTextarea [autoResize]="false"></textarea>
                                </div>
                            </div>

                            <!-- row 6 -->
                            <div class="row">
                                <div class="col">
                                    <button pButton type="submit" *ngIf="stateOfDialog == UPDATE"
                                        [disabled]="checkoutForm.invalid" label="Cập nhật sản phẩm"
                                        class="p-button-sm"></button>
                                    <button pButton type="submit" *ngIf="stateOfDialog != UPDATE"
                                        [disabled]="checkoutForm.invalid" label="Thêm sản phẩm"
                                        class="p-button-success p-button-sm"></button>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>