<div class="container-xxl">
    <div class="row">

        <div class="col-1">
            <!-- dummy col  -->
        </div>

        <div class="col-2">
            <div class="row my-sticky">
                <app-menu-category *ngIf="listMenu" [listMenu]="listMenu" (getTagName)="getTagName($event)">
                </app-menu-category>
            </div>
        </div>

        <div class="col-5">
            <div class="row wrapper">
                <p-dataView #dv [value]="productsList" [paginator]="false" layout="list" [showFirstLastIcon]="true"
                    [emptyMessage]="'Hiện không có sản phẩm nào'">
                    <!-- header -->
                    <ng-template pTemplate="header">
                        <div class="flex flex-column md:flex-row md:justify-content-between">
                            <p-dropdown [options]="sortOptions" optionLabel="label" optionValue="value"
                                [(ngModel)]="sortKey" placeholder="Sắp xếp theo giá" styleClass="mb-2 md:mb-0"
                                (onChange)="sortProductList()">
                                <ng-template pTemplate="empty">
                                    Không có dữ liệu
                                </ng-template>
                            </p-dropdown>
                            <span class="p-input-icon-left mb-2 md:mb-0">
                                <i class="pi pi-search"></i>
                                <input class="p-inputtext-sm" type="search" pInputText placeholder="Tìm món" (input)="onSearch($event)">
                            </span>
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </ng-template>

                    <!-- cài đặt hiển thị dạng list -->
                    <ng-template let-product pTemplate="listItem">
                        <div class="col-12">
                            <div class="product-list-item">
                                <!-- ảnh sản phẩm  -->
                                <img [src]="product.urlAvatar == '' ? urlDefault: product.urlAvatar"
                                    [alt]="product.productName" />

                                <!-- phần thông tin sản phẩm -->
                                <div class="product-list-detail">
                                    <div class="product-name">{{product.productName}}</div>
                                    <div class="product-description">{{product.description}}</div>
                                    <!-- phần tag name  -->
                                    <div>
                                        <i class="pi pi-tag product-category-icon"></i>
                                        <span class="product-category">{{product.category}}</span>
                                    </div>
                                </div>

                                <!-- phần thông hành động với sản phẩm -->
                                <div class="product-list-action">
                                    <!-- giá sản phẩm -->
                                    <div class="d-flex flex-column">
                                        <span class="product-old-price pr-2" *ngIf="product.discount">{{product.price |
                                            vnd}}</span>
                                        <span class="product-price text-primary pr-2">{{product.finalPrice |
                                            vnd}}</span>
                                    </div>

                                    <!-- button mua  -->
                                    <button pButton type="button" icon="pi pi-shopping-cart" label="Đặt món"
                                        class="p-button-success p-button-sm"
                                        [disabled]="product.inventoryStatus == 'OUTOFSTOCK'"
                                        (click)="buttonHandle(ORDER, product)"></button>

                                    <!-- button sửa xóa  -->
                                    <div class="d-flex flex-column" *ngIf="commonService.isAdmin | async">
                                        <button pButton type="button" icon="pi pi-pencil" class="p-button-sm"
                                            label="Sửa" (click)="buttonHandle(UPDATE, product)"></button>
                                        <button pButton type="button" icon="pi pi-times"
                                            class="p-button-danger p-button-sm" label="Xóa"
                                            (click)="buttonHandle(DELETE, product)"></button>
                                    </div>

                                    <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <!-- cài đặt hiển thị dạng grid -->
                    <ng-template let-product pTemplate="gridItem">
                        <div class="col-12 md:col-6">
                            <div class="product-grid-item card">

                                <div class="product-grid-item-top">
                                    <!-- phần tag name  -->
                                    <div>
                                        <i class="pi pi-tag product-category-icon"></i>
                                        <span class="product-category">{{product.category}}</span>
                                    </div>
                                    <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                                </div>

                                <div class="product-grid-item-content">
                                    <!-- ảnh sản phẩm  -->
                                    <img [src]="product.urlAvatar == '' ? urlDefault: product.urlAvatar"
                                        [alt]="product.productName" />

                                    <div class="product-name">{{product.productName}}</div>
                                    <div class="product-description">{{product.description}}</div>
                                </div>

                                <div class="product-grid-item-bottom">
                                    <!-- giá sản phẩm -->
                                    <div class="d-flex flex-column">
                                        <span class="product-old-price" *ngIf="product.discount">{{product.price |
                                            vnd}}</span>
                                        <span class="product-price text-primary">{{product.finalPrice | vnd}}</span>
                                    </div>

                                    <!-- các button -->
                                    <div class="d-flex">
                                        <!-- button mua  -->
                                        <button pButton type="button" icon="pi pi-shopping-cart"
                                            class="p-button-sm p-button-success" (click)="buttonHandle(ORDER, product)"
                                            [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>

                                        <!-- button sửa xóa  -->
                                        <div class="d-flex" *ngIf="commonService.isAdmin | async">
                                            <button pButton type="button" icon="pi pi-pencil" class="p-button-sm"
                                                (click)="buttonHandle(UPDATE, product)"></button>
                                            <button pButton type="button" icon="pi pi-times"
                                                class="p-button-danger p-button-sm"
                                                (click)="buttonHandle(DELETE, product)"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
        </div>

        <div class="col-4">
            <div class="row my-sticky">
                <app-menu-cart></app-menu-cart>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Thông tin của sản phẩm" [modal]="true" [draggable]="false" [(visible)]="isShowDialog">
    <app-product-add *ngIf="productInput" [isDialog]="true" [productInput]="productInput"
        [stateOfDialog]="stateOfDialog" (afterExecuted)="afterExecuted()"></app-product-add>
</p-dialog>

<app-custom-confirm-dialog *ngIf="isShowConfirm" (result)="resultIsDelete($event)"></app-custom-confirm-dialog>